@import "tailwindcss";

/* These are custom tailwind themes we can use.
  Visual representation is available on the Figma. */

@theme {
  /* Font Families */
  --font-jomhuria: "Jomhuria", "sans-serif";
  --font-anek: "Anek Gurmukhi";

  /* Color Palette */
  --color-primarygreen: #48733F;
  /* buttons: hover color */
  --color-secondary: #B6D7B0;
  /* buttons: not hovering color */
  --color-olive: #709C67;
  /* box color for saved ingredients/locations */
  --color-form: #B5C7B1;
  /* box color for suggestion box */
  --color-suggestion:#D7E6D3;
  /* profile page subtitle green color */
  --color-profiletitle: #95BD8C;
  /* Profile header */
  --color-profileheader: #6A9161;
  /* Profile bg green */
  --color-profilebg: #D1DECE;
}